@import "../../../variables.scss";

.filterModalContainer {
  position: absolute;
  z-index: 3;
  background-color: white;
  right: 0;
  top: 0;
  width: 256px;
  box-shadow: var(--boxShadow);
  padding-bottom: 32px;
}

.filterModalHeader {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  border-bottom: 1px solid var(--primaryBorderColor);
}

.filterModalTitle {
  text-align: start;
  padding: 20px 0 20px 24px;
}

.linesList {
  display: flex;
  padding: 0 24px 12px 24px;
  flex-direction: column;
  height: 224px;
  overflow-y: auto;
  gap: 8px;
}

.lineListItem {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  & > * {
    cursor: pointer;
  }
}

.lineCheckbox {
  width: 16px;
  height: 16px;
}

.closeIcon {
  cursor: pointer;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;

  &:hover {
    scale: 1.25;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }
}
