.deviceContainer {
  width: 100vw;
  height: calc(100vh - 103px); //deducting height of the headers
  display: flex;
  justify-content: center;
  align-items: center;
}

.deviceSubContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 32px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  padding-block: 2px;
  border-bottom: 1px solid #ededf0;
}

.singleDeviceNav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-bottom: 1px solid #ededf0;
}

.singleDeviceTitle {
  color: rgba(0, 0, 0, 0.45);
}

.singleDeviceBackIcon {
  position: absolute;
  top: 50%;
  left: 30px;
  translate: 0 -50%;
  cursor: pointer;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;

  &:hover {
    scale: 1.25;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }
}

@media (max-width: 650px) {
  .deviceSubContainer {
    flex-direction: column;
    align-items: center;
  }
}
