:root {
  --primaryFont: rgba(0, 0, 0, 0.65);
  --secondaryFont: rgba(0, 0, 0, 0.45);
  --secondaryBackground: rgba(246, 246, 248, 1);

  --boxShadow: 0px 12px 48px 0px rgba(0, 0, 0, 0.15);

  --primaryBorderColor: rgba(237, 237, 240, 1);
  --hoverBackground: rgba(237, 237, 240, 1);
}
