@import "../../variables.scss";

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondaryBackground);
}

.logoSection {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  color: #838691;
}

.authorSection {
  margin-right: 28px;
}
